@import url('http://fonts.googleapis.com/css?family=Great+Vibes');
@import url('http://fonts.googleapis.com/css?family=Cookie');
@import url('http://fonts.googleapis.com/css?family=Montserrat');
.App {
    text-align: center;
    font-family: 'Montserrat';
    background-color: #223752;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2.2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav.navbar {
    background-color: transparent;
    margin-bottom: 5px;
    padding-top: 25px;
}

ul {
  padding: 0 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a.navbar-brand {
    font-family: 'Great Vibes';
    font-size: 65px;
    color: #b3c2c7;
    text-decoration: none;
    
}

li.nav-item {
  list-style: none;
}

a.nav-link {
  font-size: 20px;
  color: #c6d0d4;
  text-decoration: none;
  list-style: none;
}

a.nav-link:hover {
  color: #4c9cb3;
}

.card-body {
    background-color: #F4F0EC;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 35px;
}

.ceremony-details {
  border: 5px solid rgb(140, 140, 253);
  height: 100vh;
}

.card-title {
    font-family: 'Cookie';
    font-size: 55px;
    margin-bottom: 0px;
    color: #07063b;
}

p#detail-label {
    font-size: 22px;
    color: #848482;
    margin-bottom: 0px;
}

p#detail-title {
  font-size: 22px;
  color: #08123b;
  margin-bottom: 0px;
  text-transform: uppercase;
}

p.card-text {
    font-size: 15px;
    margin-bottom: 5px;
}

h1,
h3 {
    font-family: 'Cookie';
    font-size: 65px;
    color: #967BB6;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    height: 100vh;
}

p.card-text {
    margin-bottom: 10px;
    margin-top: 3px;
}

div.our-story p {
    margin-right: 10%;
    margin-left: 10%;
}

div.guestList {
    margin-right: 20%;
    margin-left: 20%;
}

form {
    margin-right: 20%;
    margin-left: 20%;
}
.our-story {
    border: 1px solid #b3c2c7;
    height: 100vh;
    font-family: 'Great Vibes';
    color: #b3c2c7; 
    font-size: 35px;
    display: flex;
    flex-direction: column;
   align-items: center;
}

.our-story>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: b3c2c7;
    width: 55vw;
    line-height: 45px;
}